/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.text-uppercase {
  text-transform: uppercase;
}

.img-200 {
  height: 200px;
}

.padd-5 {
  font-size: 14px;
  width: 200px;
  padding: 5px;
}
